doctype html
html
    head    
        title="Hello Pug"
    body
        if(user)
            h1 HI! #{user.name}
        else
            a(href="/sign_up") Sign Up Here please
            include ./header.pug    

