html
html    
    head
        title Form Tester
    body
        form(action = "/matchResult", method="POST")
            div 
                label(for="say") File Directory:
                input(name="say" value="") 
            br
            div
                label(for="to") Search String:
                input(name="to" value="") 
            br
            button(type = "submit") Send my greetings        